{{#each posts as |post|}}
  {{log post}}
  <section data-id="{{post._id}}">
    <h3>
      {{limit post.title 15}}
    </h3>
    <p>
      {{#if post.content}}
        {{post.content}}
      {{else}}
        No Post Content.
        {{/if}}
      </p>
      <button class="edit-post btn btn-danger btn-sm" data-id="{{post._id}}">Edit</button>
      <button class="remove-post btn btn-danger btn-sm" data-id="{{post._id}}">Delete</button>
    </section>

  {{/each}}
